@page
@using Charts.Services
@model Charts.Pages.Index
@inject Buffer<PointRF> Buffer

<link rel="stylesheet" href="~/css/index.css" />    @*подключение стилей*@
<link rel="stylesheet" href="~/css/acoustic.css" /> @*подключение стилей*@
<link rel="stylesheet" href="~/css/map.css" />      @*подключение стилей*@

@{
    Layout = null;
    var x = Buffer;
    var y = Buffer;
    var data = Buffer;
}

<!DOCTYPE html>
    
<html lang="en">
<head>
    <title>Silence Web Client</title>
</head>


<div id="sidebar">

        <div class="col-1-3" id="corrWaveForm1">1.5 GGz</div>

        <div class="col-2-3" id="corrWaveForm2">2.4 GGz</div>

        <div class="col-3-3" id="corrWaveForm3">5.2 GGz</div>

        <div class="col-3-4" id="corrWaveForm4">5.8 GGz</div>

        <div class="col-4-4" id="corrWaveForm5">Acoustic</div>


    <div id="inputForm">
        <input type="button1" class="btn" id="sendBtn" value="900 MGz" />
        <input type="button2" class="btn" id="sendBtn" value="1.5 GGz" />
        <input type="button3" class="btn" id="sendBtn" value="2.4 GGz" />
        <input type="button4" class="btn" id="sendBtn" value="5.8 MGz" />

        <script>
            const button1 = document.querySelector("input");

            button1.addEventListener("click", updateButton);

            function updateButton() {
                if (button1.value === "900 MGz") {
                    button1.value = "Active";
                } else {
                    button1.value = "900 MGz";
                }
            }
        </script>


    </div>

    




</div>





<div id="content">
    <div class="colRadar" id="radarForm"></div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24b39a7907a53bcf664da6c8928cda2426a9e0a261d1dde1e24180d0fc5ebbe8&amp;width=auto&amp;height=auto&amp;lang=ru_RU&amp;scroll=true"></script>

</div>
    <script id="data" type="application/json">




    @Json.Serialize(
        new
        {
            x,
            y,
            url = "/udp",
        })    

    </script>


<script src="~/lib/plotly/plotly-2.8.3.min.js"></script>
<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/WaveForm.js"></script>
<script src="~/js/RadarForm.js"></script>
<script src="~/js/AcousticWaveForm.js"></script>
<script src="~/js/index.js"></script>
</html>


