@page
@using Charts.Services
@model Charts.Pages.Index
@inject Buffer<PointRF> Buffer

<link rel="stylesheet" href="~/css/index.css" />    @*подключение стилей*@
<link rel="stylesheet" href="~/css/acoustic.css" /> @*подключение стилей*@
<link rel="stylesheet" href="~/css/map.css" />      @*подключение стилей*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
@{
    Layout = null;
    var x = Buffer;
    var y = Buffer;
    var data = Buffer;
}

<!DOCTYPE html>
    
<html lang="en">
<head>
    <title>Silence Web Client</title>
</head>


<div id="sidebar">

        <div class="col-1-3" id="corrWaveForm1">1.5 GGz</div>

        <div class="col-2-3" id="corrWaveForm2">2.4 GGz</div>

        <div class="col-3-3" id="corrWaveForm3">5.2 GGz</div>

        <div class="col-3-4" id="corrWaveForm4">5.8 GGz</div>

        <div class="col-4-4" id="corrWaveForm5">Acoustic</div>

    <div class="col-RF" id="inputForm">
        <input type="button" class="btn" id="sendBtn1" value="900 MGz" />
        <input type="button" class="btn" id="sendBtn2" value="1.5 GGz" />
        <input type="button" class="btn" id="sendBtn3" value="2.4 GGz" />
        <input type="button" class="btn" id="sendBtn4" value="5.8 GGz" />
        
        <script>
            const button1 = document.getElementById("sendBtn1");
            button1.addEventListener("click", updateButton1);

            function updateButton1() {

                if (button1.value == "900 MGz") {
                    button1.value = "Active";  
                }
                else {
                    button1.value = "900 MGz"
                }
            }
            const button2 = document.getElementById("sendBtn2");
            button2.addEventListener("click", updateButton2);

            function updateButton2() {

                if (button2.value == "1.5 GGz") {
                    button2.value = "Active";
                }
                else { 
                    button2.value = "1.5 GGz";
                }

            }
            const button3 = document.getElementById("sendBtn3");
            button3.addEventListener("click", updateButton3);

            function updateButton3() {

                if (button3.value == "2.4 GGz") {
                    button3.value = "Active";
                }
                else {
                    button3.value = "2.4 GGz";
                }

            }

            const button4 = document.getElementById("sendBtn4");
            button4.addEventListener("click", updateButton4);

            function updateButton4() {

                if (button4.value == "5.8 GGz") {
                    button4.value = "Active";
                }
                else {
                    button4.value = "5.8 GGz";
                }
            }



            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/udp")
                .build();

            document.getElementById("sendBtn1").addEventListener("click", function () {

                let isPmOne = (button1.value == "Active") ? "false" : "true";
                let isPmTwo = (button2.value == "Active") ? "false" : "true";
                let isPmThre = (button3.value == "Active") ? "false" : "true";
                let isPmFour = (button4.value == "Active") ? "false" : "true";


                hubConnection.invoke("Send", { "PmStack" : [isPmOne,isPmTwo,isPmThre,isPmFour]});       
            });          

            document.getElementById("sendBtn2").addEventListener("click", function () {

                let isPmOne = (button1.value == "Active") ? "false" : "true";
                let isPmTwo = (button2.value == "Active") ? "false" : "true";
                let isPmThre = (button3.value == "Active") ? "false" : "true";
                let isPmFour = (button4.value == "Active") ? "false" : "true";


                hubConnection.invoke("Send", { "PmStack" : [isPmOne,isPmTwo,isPmThre,isPmFour]});       
            });          

            document.getElementById("sendBtn3").addEventListener("click", function () {

                let isPmOne = (button1.value == "Active") ? "false" : "true";
                let isPmTwo = (button2.value == "Active") ? "false" : "true";
                let isPmThre = (button3.value == "Active") ? "false" : "true";
                let isPmFour = (button4.value == "Active") ? "false" : "true";


                hubConnection.invoke("Send", { "PmStack" : [isPmOne,isPmTwo,isPmThre,isPmFour]});       
            });        
            
            document.getElementById("sendBtn4").addEventListener("click", function () {

                let isPmOne = (button1.value == "Active") ? "false" : "true";
                let isPmTwo = (button2.value == "Active") ? "false" : "true";
                let isPmThre = (button3.value == "Active") ? "false" : "true";
                let isPmFour = (button4.value == "Active") ? "false" : "true";


                hubConnection.invoke("Send", { "PmStack" : [isPmOne,isPmTwo,isPmThre,isPmFour]});       
            });       

            hubConnection.start();

            
        </script>      
    </div>
</div>


<div id="content">
    <div class="colRadar" id="radarForm"></div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24b39a7907a53bcf664da6c8928cda2426a9e0a261d1dde1e24180d0fc5ebbe8&amp;width=auto&amp;height=auto&amp;lang=ru_RU&amp;scroll=true"></script>

</div>
    <script id="data" type="application/json">




    @Json.Serialize(
        new
        {
            x,
            y,
            url = "/udp",
        })    

    </script>


<script src="~/lib/plotly/plotly-2.8.3.min.js"></script>
<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/WaveForm.js"></script>
<script src="~/js/RadarForm.js"></script>
<script src="~/js/AcousticWaveForm.js"></script>
<script src="~/js/index.js"></script>
</html>


