@page
@using Charts.Services
@model Charts.Pages.Index
@inject Buffer<Point> Buffer

@{
    Layout = null;
    var x = Buffer;
    var data = Buffer;
}

<!DOCTYPE html>
    
<html lang="en">
<head>
    <title>Charts with Chart.Js and SignalR</title>
</head>

    <div class="graph-content">
    <div class="h-100" id="corrWaveForm"></div>
    </div>

     <script id="data" type="application/json">
    @Json.Serialize(
        new
        {
            x,
            limit = Buffer.MaxCapacity,
            url = "/chart",
        })    
    </script>


<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script defer src="~/js/index.js"></script>
<script src="~/lib/plotly/plotly-2.8.3.min.js"></script>
<script src="~/js/CorrelationGraph.js"></script>
<script src="~/js/Home/WaveForm/waveForm.js"></script>
</html>


